$html-fz: 10px;
$ff: "Open Sans","Arial",sans-serif;

$c-black: #323c46;
$c-grey: #71787f;
$c-grey-l: #f1f2f2;
$c-red-l: #ffc1c1;
$c-blue: #85b1f9;
$c-blue-l: #d9eaff;
$c-green-l: #c3f3e2;
$c-yellow: #fff48e;
$c-orange: #ee6956;

$desktop: 480px;