mixin info-block()
  .info-block 
    p.info-block__text|
      span|Выберите товар с повышенным кэшбэком 
      span|Нажмите кнопку «Посмотреть» - перейдите в карточку товара
      span|Положите товар в корзину
      span|Оформите заказ